<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
      <add key="AppToken" value="002z0R5A_Yi6nNZTU8CTf8v0m_o3FnH7vZQSQJNhjh" />
      <add key="Subdomain" value="nutanix" />
      <!--<add key="GroupName" value="Everyone" />-->
      <!--<add key="GroupName" value="App-Workplace" />-->
      <add key="OutFilePath" value="D:\Development\" />
      <add key="FileName" value="D:\Development\ImportUserList.csv" />
      <add key="jsonFilePath" value="C:\INT_Okta_Worker_Import.json" />
    </appSettings>
</configuration>